@model MvcNetCorePracticaZapatillas.Models.Zapatilla

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<a asp-controller="Zapatillas" asp-action="Index">Volver a Index</a>

<div>
	<hr />
	<ul class="list-group">
		<li class="list-group-item list-group-item-danger">Nombre: @Model.Nombre</li>
		<li class="list-group-item list-group-item-info">@Model.Descripcion</li>
		<li class="list-group-item list-group-item-info">Precio: @Model.Precio</li>
		
	</ul>
</div>

<div id="contenedorImagenes"></div>

@section Scripts {
	<script>
		function cargarImagenes(posicion){
			$(function () {
				$("#contenedorImagenes").load("/Zapatillas/_ImagenesZapatillas?posicion=" + posicion + "&idProducto=" + @Model.IdProducto);
			});
		}
		cargarImagenes(1); 
	</script>
}



